################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InMemoryStudentRecords/bin/Debug
/InMemoryStudentRecords/obj/Debug
InMemoryStudentRecords/.vs/InMemoryStudentRecords/v14/.suo
